.btn-round:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}.btn-round1:hover{
    transform: translateY(-3px);
}
.patient{
    font-family: Fontil Sans, monospace;
      text-align: left;
      float: left;
      /*margin-top: 6rem;*/
      background: #F5F5DC;
      border-radius: 1rem;
      padding: 5px;
      box-shadow: 2 2px 16px 1 rgba(123, 123, 123, 0.05);
      width: 90%;
      margin-top: 0.5rem;
  }
  .medecin{
    font-family: Fontil Sans, monospace;
      text-align: left;
      float: right;
      /*margin-top: 6rem;*/
      background:#FFA07A;
      border-radius: 1rem;
      padding: 5px;
      box-shadow: 2 2px 16px 1 rgba(123, 123, 123, 0.05);
      width: 90%;
      margin-top: 0.5rem;
  }

  .mycontainer{
    font-family: Fontil Sans, monospace;
    text-align: left;
     width: 100%; 
    float: left;
    /*margin-top: 6rem;*/
    background: #F0F8FF;
    border-bottom-left-radius: 10px;
    padding: 5px;
    /* box-shadow: 0 1px 15px 0 rgba(123, 123, 123, 0.05); */
    /* margin: 5px; */
    min-height: 100%;
  }